/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/* =========================================
        GENERAL SECTION
=========================================*/

html,body{
    height: 100%;
}
body{
    color: #212226;
}
h1,h2,h3,h4,h5,h{
    font-family: 'Raleway',sans-serif;
}
p{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section{
    background: #FFF;
    overflow: hidden;
}
[class^="lni-"],[class*="lni-"]{
    display: inline-block;
}
.row.no-gutters [class*=col-]{
    padding: 0;
}

/* =========================================
        LOADER SECTION
=========================================*/

.loader{
    width: 100%;
    height: 100%;
    background: #63c600;
    background: linear-gradient(to right,#5c9320 2%,#63c600 82%);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1111;
}

.loader-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.loader-block{
    width:60px;
    height: 60px;
}

.loader span{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: load 4.5s ease-in-out infinite;
}

.loader span.block-1{
    top: 0;
    left: 0;
    animation-delay: 1.1s;
}

.loader span.block-2{
    top: 0;
    left: 16px;
    animation-delay: 1s;
}

.loader span.block-3{
    top: 0;
    left: 32px;
    animation-delay: .9s;
}

.loader span.block-4{
    top: 0;
    left: 48px;
    animation-delay: .8s;
}

.loader span.block-5{
    top: 16px;
    left: 0;
    animation-delay: .7s;
}

.loader span.block-6{
    top: 16px;
    left: 16px;
    animation-delay: .6s;
}

.loader span.block-7{
    top: 16px;
    left: 32px;
    animation-delay: .5s;
}

.loader span.block-8{
    top: 16px;
    left: 48px;
    animation-delay: .4s;
}

.loader span.block-9{
    top: 32px;
    left: 0;
    animation-delay: .3s;
}

.loader span.block-10{
    top: 32px;
    left: 16px;
    animation-delay: .2s;
}

.loader span.block-11{
    top: 32px;
    left: 32px;
    animation-delay: .1s;
}

.loader span.block-12{
    top: 32px;
    left: 48px;
    animation-delay: 0s;
}

.loader span.block-13{
    top: 48px;
    left: 0;
    animation-delay: -.1s;
}

.loader span.block-14{
    top: 48px;
    left: 16px;
    animation-delay: -.2s;
}

.loader span.block-15{
    top: 48px;
    left: 32px;
    animation-delay: -.3s;
}

.loader span.block-16{
    top: 48px;
    left: 48px;
    animation-delay: -.4s;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-97px);
    }
    15%{
        opacity: 0;
        transform: translateY(-97px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(97px);
    }
    100%{
        opacity: 0;
        transform: translateY(97px);
    }
}

/* =========================================
        HOME SECTION
=========================================*/

#home{
    background: none;
    height: 100%;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height:auto;
    background: url('../video/video.jpg');
    z-index: -1;
}
#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.home-content{
    width: 100%;
    height:100%;
    display: table;
}
.home-content-inner{
    display: table-cell;
    vertical-align:middle;
}
.home-heading h1{
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
.home-heading h1 span{
    color: #5c9320;
    font-weight: 500;
}
.home-text p{
    color: #FFF;
    font-size: 17px;
    font-weight: 100;
    margin: 10px 0 30px;
}
#arrow-down{
    color: #FFF;
    position:absolute;
    left: 50%;
    bottom: 28px;
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    z-index: 1;
}
#arrow-down:hover{
    text-decoration: none;
    color: #5c9320;
}
/* =========================================
        BUTTONS  SECTION
=========================================*/
.btn-general{
    font-family: 'Raleway',sans-serif;
    border-radius: 20px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 46px;
    transition: all .5s;
}
.btn-green{
    color: #FFF;
    border: 1px solid #5c9320;
    background-color: #5c9320;
}
.btn-white{
    color: #212226;
    border:1px solid #FFF;
    background-color:#FFF;
}
.btn-white:hover,
.btn-white:focus,
.btn-green:hover,
.btn-green:focus{
    color: #FFF;
    background-color: #212226;
    border-color: #212226;
}
.btn-general.btn-gradient{
    border:none;
    color: #FFF;
    background-size:200% auto;
    background-image:linear-gradient(to right,#5c9320 0%,#63c600 51%,#5c9320 100% );
}
.btn-general.btn-gradient:hover,
.btn-general.btn-gradient:focus{
    background-position: right center;
}
.btn-block{
    width: 100%;
}

/* =========================================
        CONTENT BOXES
=========================================*/

.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}

/* =========================================
        HEADINGS
=========================================*/
.horizontal-heading{
    margin-bottom: 40px;
}
.horizontal-heading h5{
    font-size: 16px;
    color: #5c9320;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}
.vertical-heading h5{
    color: #5c9320;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    transform-origin: left;
    transform: rotate(-90deg);
    position: relative;
    top: 70px;
    left: -50px;
}
.horizontal-heading h2,
.vertical-heading h2{
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin: 0;
}
.vertical-heading h2{
    margin: -30px 0 0;
}
.horizontal-heading h2 strong,
.vertical-heading h2 strong{
    color: #5c9320;
}
/* =========================================
        ABOUT SECTION
=========================================*/
#about-right p{
    margin-bottom: 30px;
}
#about-right p:last-child{
    margin-bottom: 60px;
}
.about-img{
    margin: 0 auto;
}
#about-2{
    background: #F4F4F4;
}
.about-item{
    border-radius: 12px;
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.about-item i{
    font-size: 42px;
    margin-bottom: 0;
}
.about-item h3{
    font-size: 24px;
    margin-bottom:10px;
}
.about-item hr{
    height: 3px;
    width: 45px;
    background-color: #5c9320;
    border: none;
    margin: 0 auto;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: #5c9320;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #FFF;
}
.about-item:hover hr{
    background-color: #FFF;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item,
.about-item i,
.about-item hr{
    transition: all .3s ease-in-out;
}
.about-item h3,
.about-item p{
    transition: all .3s linear;
}

/* =========================================
        STATEMENT SECTION
=========================================*/
#statement{
    background: url(../img/tech/tech-statement.jpg) no-repeat fixed center;
    background-size: cover;    
}
#statement .content-box-lg{
    background: rgba(0,0,0,.4);
}
.tech-statement h3{
    color: #FFF;
    font-size: 20px;
    line-height: 45px;
}
.tech-statement h3 span.large{
    font-size: 30px;
}
.tech-statement i{
    color: #5c9320;
}
.tech-statement p{
    font-size: 14px;
    color: #FFF;
    font-family: 'Raleway',sans-serif;
    margin-top: 10px;
}

/* =========================================
        SERVICES SECTION
=========================================*/
#service-1 img{
    margin: 60px auto;
}
.service {
    margin: 35px 0;
}
.service .icon{
    font-size: 42px;
    margin: 0;
    transition: all .3s linear;
}
.service:hover .icon{
    color: #5c9320;
    transform: translateX(-20px);
}
.service:hover h5{
    color: inherit;
    transition: .3s linear;
}
.service h5{
    font-size: 12px;
    text-transform: uppercase;
    color: #5c9320;
    margin: 0 0 6px;
}
.service h4{
    font-size: 24px;
    margin: 0 0 8px;
}
.service p{
    line-height: normal;
}
#service-2{
    background: #F4F4F4;
}
#services-tabs ul{
    margin-bottom: 48px;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li a{
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    color: #212224;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}
#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    font-weight: 700;
    border-bottom: solid 3px #5c9320;
    padding-bottom: 3px;
    transition: border .3s linear;
}
.service-tab .tab-bg{
    background: #FFF;
    min-height: 481px;
    padding: 60px 30px;
}
.service-tab .col-md-6{
    padding: 0;
}
.service-tab img{
    width: 100%;
}
.service-tab h2{
    font-size: 42px;
    font-weight: 100;
    color: #BBB;
    margin-bottom: 20px;
}
.service-tab h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.service-tab p{
    line-height: 24px;
    margin-bottom: 30px;
}
/* =========================================
        TESTIMONIALS SECTION
=========================================*/
#testimonials{
    background: #F4F4F4;
/*    min-height: 700px;*/
    padding-bottom: 100px;
}
.testimonial-card{
    background: #5c9320;
    padding: 4rem;
    padding-bottom: 2rem;
/*    margin-bottom: -50px;*/
}
.testimonial-card h3{
    font-size: 34px;
    color: #FFF;
    margin: 0;
}
.testimonial-card .text-container{
    margin-top: 3rem;
    color: #FFF;
}
.testimonial-card .stars i{
    padding-top: 5px;
    font-size: 24px;
    color: #FFF;
}
.testimonial-card .client-image,.testimonial-card .designation{
    margin-top: 1rem;
}
.testimonial-card p{
    line-height: normal;
}
.testimonial-card .designation{
    color: #FFF;
    margin-top: 30px;
}
.testimonial-card .designation p{
    line-height: normal;
    margin-bottom: 0;
}
#testimonials .owl-nav{
    margin-top: 0;
    background: #5c9320;
}
#testimonials .owl-theme .owl-nav [class*=owl-]:hover{
    color: #FFF;
}
.parent{
    position: relative;
    overflow: visible;
}
.child{
    position: absolute;
    top: -35%;
    right: 50px;
}
/* =========================================
        SOCIAL ICONS SECTION
=========================================*/
ul.social-list{
    padding: 0;
}
ul.social-list li{
    display: inline-block;
    padding:0;
}
ul.social-list li a{
    border: solid 1px #222;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display:inline-block;
    line-height: 35px;
    color: #222;
    transition: all .3s linear;
}
ul.social-list.icons-white li a{
    border-color: #FFF;
    color: #FFF;
}
ul.social-list li a:hover{
    color: #FFF;
    border-color: transparent;
}
ul.social-list li.fb-icon a:hover{
    background: #3B5998;
}
ul.social-list li.twitter-icon a:hover{
    background: #00ACED;
}
ul.social-list li.google-plus-icon a:hover{
    background: #DD4B39;
}
/* =========================================
        OUR TEAM SECTION
=========================================*/
.team-member{
    margin: 10px;
    position: relative;
}
.team-member-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,34,38,.9);
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear;
}
.team-member-info{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.team-member-info h6{
    color: #5c9320;
    font-size: 16px;
    margin: 0;
}
.team-member-info p{
    color: #FFF;
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}
/* =========================================
        CAROUSEL UPDATES SECTION
=========================================*/
.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    font-size: 48px;
    background: none;
    margin: 0;
    border-radius: 50%;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}
/* =========================================
        PROGRESS BAR SECTION
=========================================*/
.skill{
    margin-bottom: 20px;
}
.skill h4{
    line-height: 65px;
    margin: 0;    
    font-weight: normal;
}
.progress{
    height: 12px;
    border-radius: 50px;
    background: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    background-image: linear-gradient(to right,#5c9320 0%,#63c600 51%,#5c9320 100%);
    border-radius: 50px;
    position: relative;
}
.progress-bar span{
    background:#212226;
    padding: 3px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    font-size: 11px;
    position: absolute;
    right: -10px;
    top: -40px;
}
.progress-bar span:before{
    content: "";
    border-top: solid 8px #212226;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    position: absolute;
    bottom: -8px;
    left: 30%;
}
/* =========================================
        CLIENTS SECTION
=========================================*/
.client{
    padding: 18px;
    max-width: 150px;
    margin: 0 auto;
}
/* =========================================
        OUR WORK SECTION
=========================================*/
#portfolio{
    padding-bottom: 150px;
}
#portfolio .vertical-heading{
    margin-bottom: 50px;
}
.portfolio-item{
    position: relative;
    overflow: hidden;
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    transition: transform .4s ease-in-out;
}
.portfolio-item-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(92,147,32,.7);
    cursor: zoom-in;
    cursor: --webkit-zoom-in;
    opacity: 0;
    transition: all .4s ease;
}
.portfolio-item-details{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-item-details h3{
    color: #F4F4F4;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    transition: all .4s ease;
}
.portfolio-item-details span{
    display: inline-block;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #FFF;
    height: 6px;
    width: 30px;
    margin: 10px auto 5px;
}
.portfolio-item-details p{
    margin: 0;
    padding: 0;
    color: #FFf;
    font-size: 17px;
    text-transform: capitalize;
    transform: translateY(20%);
    transition: all .4s ease;
}
/*HOVER EFFECTS*/
.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}
.portfolio-item:hover img{
    transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-overlay p,
.portfolio-item:hover .portfolio-item-overlay h3{
    transform: translateY(0);
}
#isotope-filters{
    margin-bottom: 18px;
    padding: 20px 25px 20px 0;
}
#isotope-filters button{
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    outline: 0;
    padding-right: 35px;
}
#isotope-filters button span{
    padding-bottom: 5px;
    transition: all .4s ease-in-out;
}
#isotope-filters button.active span{
    border-bottom: solid 3px #5c9320;
}

/* =========================================
        PRICING SECTION
=========================================*/
.pricing-table{
    padding: 32px 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    transition: all .4s linear;
}
.pricing-table.pricing-table-black:hover,
.pricing-table:hover{
    background: #5c9320;
}
.pricing-table .type h4{
    color: #5c9320;
    font-size: 24px;
    margin-bottom: 25px;
}
.pricing-table .price{
    border-top: solid 1px #E0E0E0;
    padding: 25px 0;
}
.pricing-table .price h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 25px;
    position: relative;
}
.pricing-table .price h2 span{
    font-family: 'Raleway',sans-serif;
}
.pricing-table .price h2 span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: -20px;
    top: 7px;
}
.pricing-table .price h2 span.month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.pricing-table .price p{
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.pricing-table ul.package{
    padding: 25px 0;
    border-top: solid 1px #E0E0E0;
    list-style: none;
}
.pricing-table ul.package li{
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}
.pricing-table ul.package li i{
    width: 24px;
}
.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package{
    color: #FFF;
}
.pricing-table:hover .btn-green{
    background: #FFF;
    color: #212226;
    border: solid 1px #FFF;
}
.pricing-table.pricing-table-black{
    background: #212226;
    color: #FFF;
}
.pricing-table.pricing-table-black .type h4{
    color: #FFF;
}
.pricing-table:hover .btn-green:hover{
    background: #212226;
    color: #FFF;
    border: solid 1px #212226;
}
.pricing-table.pricing-table-black .btn{
    background: #FFF;
    color: #212226;
    border: solid 1px #FFF;
}
/* =========================================
        STATS SECTION
=========================================*/
#stats{
    background: url("../img/stats/stats-bg.jpg") no-repeat fixed center;
    background-size: cover;
}
#stats .vertical-heading{
    margin-bottom: 50px;
}
#stats .vertical-heading h2{
    color: #FFF;
}
.stats-item {
    background: rgba(61,68,68,0.6);
    border-radius: 6px;
    padding: 25px 50px;
    transition: all .4s linear;
    margin-bottom: 15px;
}
.stats-item i{
    font-size: 42px;
    color: #5c9320;
    margin-bottom: 6px;
    transition: all .4s linear;
}
.stats-item h3{
    font-size: 32px;
    color: #FFF;
    margin: 6px;
}
.stats-item p{
    color: #FFF;
    margin: 0;
}
.stats-item:hover{
    background:#5c9320;
}
.stats-item:hover i{
    color:#212226;
    transform: translateY(-20px);
}

/* =========================================
             MAP SECTION
============================================ */
#map{
    height: 600px;
}

/* =========================================
             FOOTER SECTION
============================================ */
footer {
    background: #212226;
    padding: 36px;
}
footer p {
    color: #FFF;
    line-height: 20px;
    margin: 0;
}
footer p span.company{
    color: #5C9320;
}
/* =========================================
             BLOG SECTION
============================================ */
#blog{
    background: #F4F4F4;
}
#blog .row{
/*    padding: 0 80px;*/
}
.blog-post{
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    padding: 15px;
    border-radius: 6px;
    padding-bottom: 0;
}
.blog-post h4{
    font-size: 18px;
    color: #212226;
    font-family: 'Raleway',sans-serif;
    margin-bottom: 15px;
}
.blog-post p{
/*    margin-top: 15px;*/
    margin-bottom: 15px; 
    font-size: 10px;
}
.blog-post a{
    color: #5c9320;
    text-decoration: none;
}
.blog-post a:hover{
    color: #212226;
}
.blog-post .post-details{
    margin-top: 25px;
    padding: 10px 0;
    border-top: solid 1px #E0E0E0;
    padding-bottom: 0;
}
.blog-post .post-details img{
    border-radius: 50%;
}
/* =========================================
             CONTACT SECTION
============================================ */
#contact p{
    margin: 20px 0;
}
#contact ul.details{
    list-style: none;
    padding: 0;
}
#contact ul.details li{
    margin-bottom: 10px;
}
#contact ul.details li i{
    display: inline;
}
#contact ul.details li span{
    padding-left: 20px;
}
#contact ul.details span.translate{
    transform: translateY(-20px);
}
#contact .social-icons span{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #212226;
    padding-top: 7px;
    transition: all .4s linear;
}
#contact .social-icons span a{
    text-decoration: none;
}
#contact .social-icons span a i{
    font-size: 14px;
    color: #212226;
}
#contact .social-icons span:hover{
    cursor: pointer;
}
#contact .social-icons span.google-plus:hover{
    background: red;
}
#contact .social-icons span.facebook:hover{
    background: #3b5998;
}
#contact .social-icons span.twitter:hover{
    background: #00aced;
}
#contact .social-icons span.google-plus:hover a i,
#contact .social-icons span.facebook:hover a i,
#contact .social-icons span.twitter:hover a i{
    color:#FFF
}
#contact .contact-card{
    box-shadow: 0 0 7.5px 0 rgba(0,0,0,.1);
    border-radius: 3px;    
    padding: 25px 30px;
}
#contact .contact-card form input{
    color: #ccc;
    width: 100%;
    border-radius: 5px;
    padding: .5rem 1rem;
    border: solid 1px #ccc;
    outline: none;
    margin-bottom: 16px;
}
#contact .contact-card form textarea:focus{
    outline: none;
}
#contact .contact-card form textarea{
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: 15px;
}
/* =========================================
             HEADER SECTION
============================================ */
.navbar{
    padding: 35px 0;
    transition: all .3s linear;
}
.navbar-header{
    padding: 0 85px;
}
.navbar-brand{
    padding-top: 0;
}
.navbar .navbar-nav{
    transform: translateY(50%);
}
ul.navbar-nav>li>a{
    font-family: 'Raleway',sans-serif;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: .4rem 0;
    min-width: 100px;
    text-align: center;
}
.nav>li>a:focus,.nav>li>a:hover{
    background: none;
}
.scrolled-navbar{
    padding: 10px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 9999;
}
.white-nav-top{
    background: #FFF;
}
.white-nav-top ul.navbar-nav>li>a{
    color: #212226;
}
.navbar-gradient.green-nav-top{
    background: linear-gradient(to right,#63c600 2%,#5c9320 65%);
}
.scrolled-navbar ul.navbar-nav>li.active>a{
    font-weight: 500;
    color: #FFF;
    border-radius: 28px;
}
.white-nav-top ul.navbar-nav>li.active>a{
    background: #5c9320;
    transition: all .4s linear;
}
.green-nav-top ul.navbar-nav>li.active>a{
    background: #00596a;
}